@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: black;
    padding: 13px 30px;
    font-family: 'Tilt Prism', cursive;

}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
    font-size: 20px;
    margin-right: 40px;
}
#logo img{
    height: 42px;
    filter: invert(1);
}
#navbar ul{
    display: flex;
    flex-direction: row;
  align-items: center;

}
#navbar li{
    list-style: none;
}
#navbar li a{
    text-decoration: none;
    padding: 13px 30px;
    font-size: 28px;
    color: white;
}
#navbar li a:hover{
   color: rgb(147, 7, 7);
}
.small{
    font-size: 27px;
}
#introSection{
    height: 300px;
    padding-bottom: 55px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center/ cover no-repeat url(/static/bg.jpg);
    font-family: 'Tilt Prism', cursive;
    font-size: 42px;
    font-weight: bold;
}
#sponserSection{
height: 300px;
background-color: rgb(242, 243, 236);
}
#missionSection{
height: 326px;
background-color:rgb(26 26 26);
margin: auto
;
padding: 5px 74px;
width: 100%;
}
.card{
    border: 2px solid rgb(7, 6, 6);
    border-radius: 10px;
    width: 30%;
    margin: 23px 16px;
    height: 175px;
    display: inline-block;
    padding: 5px 25px;
    background-color: white;
}
.card h3{
    text-align: center;
    margin: 12px;
    font-size: 24px;
  font-family: 'Tilt Prism', cursive;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 23px;
}
.card-img{
    height: 100px;
    padding: 0px 14px;
}
.card-img img{
    height: inherit;
}
.card-content{
    text-align: center;
    margin: 12px;
    font-size: 16px;
    font-weight: bold;
   font-family: 'Tilt Prism', cursive;
}
#sponserSection h2{
text-align: center;
padding-top: 12px;
font-family: 'Tilt Prism', cursive;
color: rgb(3, 1, 1);
font-size: 42px;
}
#sponsers{
    height: 100px;
    max-width: 1000px;
    margin: 51px 256px;
  background-color:rgb(242, 243, 236);;
}
#sponsers img{
    height: 80px;
padding: 0px 20px;
    margin: auto;
}
#missionSection h2{
text-align: center;
padding-top: 12px;
font-family: 'Tilt Prism', cursive;
color: rgb(255, 255, 255);
font-size: 42px;
}
#footer{
    height: 60px;
    display: flex;
    justify-content: center;
    background-color: #080807;
    align-items: center;
    color: white;
    font-family: 'Tilt Prism', cursive;
}